In [1]:
%load_ext autoreload
%autoreload 2

import os
path = os.environ.get("HOME")
os.chdir(f"{path}/github/pyspark-hand-on")
from src.utils.utils import spark_session

In [9]:
spark = spark_session()
sc = spark.sparkContext
rdd = sc.parallelize([item for item in range(10)]).map(lambda x: (x, x**2))

In [4]:
rdd.collect()

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [5]:
df = rdd.toDF(["numero", "cuadrado"])

In [6]:
df.printSchema()

root
 |-- numero: long (nullable = true)
 |-- cuadrado: long (nullable = true)

In [7]:
df.show()

+------+--------+
|numero|cuadrado|
+------+--------+
|     0|       0|
|     1|       1|
|     2|       4|
|     3|       9|
|     4|      16|
|     5|      25|
|     6|      36|
|     7|      49|
|     8|      64|
|     9|      81|
+------+--------+

Un dataframe a partir de un rdd con schema:

In [20]:
rdd1 = sc.parallelize([(1, "Jose",35.5), (2, "Teresa", 54.3), (3, "Katia", 12.7)])

In [11]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType

In [12]:
## Via 1:
schema = StructType(
    [
        StructField("id", IntegerType(), True),
        StructField("nombre", StringType(), True),
        StructField("saldo", DoubleType(), True)
    ]
)

In [22]:
## Via 2:
schema2 = "`id` INT, `nombre` STRING, `saldo` DOUBLE"

In [14]:
df1 = spark.createDataFrame(rdd1, schema=schema)

In [15]:
df1.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- saldo: double (nullable = true)

In [16]:
df1.show()

+---+------+-----+
| id|nombre|saldo|
+---+------+-----+
|  1|  Jose| 35.5|
|  2|Teresa| 54.3|
|  3| Katia| 12.7|
+---+------+-----+

In [23]:
df2 = spark.createDataFrame(rdd1, schema=schema2)

In [24]:
df2.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nombre: string (nullable = true)
 |-- saldo: double (nullable = true)

In [25]:
df2.show()

+---+------+-----+
| id|nombre|saldo|
+---+------+-----+
|  1|  Jose| 35.5|
|  2|Teresa| 54.3|
|  3| Katia| 12.7|
+---+------+-----+

### Dataframes a partir de fuentes de datos