## 69. Agregaci√≥n con pivote:

In [2]:
%load_ext autoreload
%autoreload 2

import os
path = os.environ.get("HOME")
os.chdir(f"{path}/github/pyspark-hand-on")
from src.utils.utils import spark_session
spark = spark_session()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
df = spark.read.parquet("./data/estudiantes.parquet")
df.printSchema()

root
 |-- nombre: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- peso: long (nullable = true)
 |-- graduacion: long (nullable = true)

In [4]:
df.show()

+------+----+----+----------+
|nombre|sexo|peso|graduacion|
+------+----+----+----------+
|  Jose|   M|  80|      2000|
| Hilda|   F|  50|      2000|
|  Juan|   M|  75|      2000|
| Pedro|   M|  76|      2001|
|Katia+|   F|  65|      2001|
+------+----+----+----------+

In [7]:
from pyspark.sql.functions import min, max, col, avg, col

In [9]:
df.groupBy("graduacion").pivot("sexo").agg(avg("peso")).show()

+----------+----+----+
|graduacion|   F|   M|
+----------+----+----+
|      2001|65.0|76.0|
|      2000|50.0|77.5|
+----------+----+----+

In [11]:
df.groupBy("graduacion").pivot("sexo").agg(avg("peso"), min("peso"), max("peso")).show()

+----------+-----------+-----------+-----------+-----------+-----------+-----------+
|graduacion|F_avg(peso)|F_min(peso)|F_max(peso)|M_avg(peso)|M_min(peso)|M_max(peso)|
+----------+-----------+-----------+-----------+-----------+-----------+-----------+
|      2001|       65.0|         65|         65|       76.0|         76|         76|
|      2000|       50.0|         50|         50|       77.5|         75|         80|
+----------+-----------+-----------+-----------+-----------+-----------+-----------+

In [13]:
df.groupBy("graduacion").pivot("sexo", ["M"]).agg(avg("peso"), min("peso"), max("peso")).show()

+----------+-----------+-----------+-----------+
|graduacion|M_avg(peso)|M_min(peso)|M_max(peso)|
+----------+-----------+-----------+-----------+
|      2001|       76.0|         76|         76|
|      2000|       77.5|         75|         80|
+----------+-----------+-----------+-----------+